<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="side" opened class="dashboard__sidenav">
        
        <mat-nav-list>
            <div>
                <div>
                    <a routerLink="/colegios" mat-list-item class="sidenav__item" matTooltip="Colegios"
                       matTooltipPosition="right">
                        <mat-icon mat-list-icon>school</mat-icon>
                        <!-- <span>Tiendas</span> -->
                    </a>
                </div>
                <div>
                    <a routerLink="/estudiantes" mat-list-item class="sidenav__item" matTooltip="Estudiantes"
                       matTooltipPosition="right"> 
                        <mat-icon mat-list-icon>face</mat-icon>
                    </a> 
                </div>
                <div>
                    <a routerLink="/profesores" mat-list-item class="sidenav__item" matTooltip="Profesores"
                       matTooltipPosition="right"> 
                        <mat-icon mat-list-icon>people</mat-icon>
                    </a> 
                </div>
            </div>
            
        </mat-nav-list>

    </mat-sidenav>


    
    <div class="dashboard__container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

