<form autocomplete="off" [formGroup]="miFormulario">
    <h2>{{data.title}} asignatura</h2>
    <br/>

    <div>
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Nombre de la materia</mat-label>
                <input matInput placeholder="Nombre del colegio" type="text"
                       formControlName="name">
            </mat-form-field>
        </div>
        <div>

            <mat-form-field appearance="legacy">
                <mat-label>curso</mat-label>
                <mat-select formControlName="curso">
                  <mat-option *ngFor="let curso of cursos" [value]="curso.id" >
                    {{curso.grado}} {{curso.salon}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="warn" (click)="dialog.close()">
        cancelar
    </button>
    <button class="agregar-editar__asignatura" mat-raised-button color="primary" 
            (click)="agregarEditar()" [disabled]="miFormulario.invalid">
        {{data.title | lowercase}}
    </button>
</form>